@model IEnumerable<Shop_Models.Entities.ChiTietSanPham>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center">Thống kê doanh thu</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Mã sản phẩm
            </th>
            <th>
                Giá Nhập
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Giá thực tế
            </th>
            <th>
                Số lượng tồn
            </th>
            <th>
                Số lượng đã bán
            </th>
            <th>
                Doanh thu sản phẩm
            </th>
            <th>
                Lãi
            </th>
            <th>
                Lỗ
            </th>
            <th></th>
        </tr>
    </thead>

    @{
        decimal totalRevenue = 0;
        decimal totalProfit = 0;
        decimal totalLoss = 0;
        decimal totalGiaNhap = Convert.ToDecimal(Model.Sum(x => x.GiaNhap));
        decimal totalGiaBan = Convert.ToDecimal(Model.Sum(x => x.GiaBan));
        decimal totalGiaThucTe = Convert.ToDecimal(Model.Sum(x => x.GiaThucTe));
        var totalSLT = Model.Sum(x => x.SoLuongTon);
        var totalSLDB = Model.Sum(x => x.SoLuongDaBan);
    }   

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaThucTe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongTon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongDaBan)
                </td>
                <td>
                    @{
                        decimal revenue = Convert.ToDecimal(item.GiaBan * item.SoLuongDaBan);
                        totalRevenue += revenue;
                        @Html.DisplayFor(modelItem => revenue)
                    }
                </td>
                <td>
                    @{
                        decimal profitLai = Convert.ToDecimal((item.GiaBan - item.GiaNhap) * item.SoLuongDaBan);
                        if (profitLai >= 0)
                        {
                            @Html.DisplayFor(modelItem => profitLai)
                        }
                        else
                        {
                            @:0
                        }
                    }
                </td>
                <td>
                    @{
                        if (profitLai < 0)
                        {
                            @Html.DisplayFor(modelItem => profitLai)
                        }
                        else
                        {
                            @:0
                        }
                    }
                </td>
            </tr>
        }
        <tr>
            <td>Tổng: </td>
            <td>@totalGiaNhap</td>
            <td>@totalGiaBan</td>
            <td>@totalGiaThucTe</td>
            <td>@totalSLT</td>
            <td>@totalSLDB</td>
            <td>
                @{
                    decimal totalAllRevenue = Model.Sum(item => Convert.ToDecimal(item.GiaBan * item.SoLuongDaBan));
                    @Html.DisplayFor(modelItem => totalAllRevenue)
                }
            </td>
            <td>
                @* @{
                    var averageProfitPercentage = Model.Average(item => (Convert.ToDecimal(item.GiaBan - item.GiaNhap)) * item.SoLuongDaBan / Convert.ToDecimal(totalRevenue) * 100);
                    @Math.Round(Convert.ToDecimal(averageProfitPercentage), 2) @:%
                } *@
                @{
                    decimal totalAllProfit = Model.Sum(item => Convert.ToDecimal((item.GiaBan - item.GiaNhap) * item.SoLuongDaBan));
                    @Html.DisplayFor(modelItem => totalAllProfit)
                }
            </td>
            <td>
                @* @{
                    var averageLossPercentage = 0;
                    @Html.DisplayFor(modelItem => averageLossPercentage) @:%
                } *@
                @{
                    decimal totalAllLoss = Model.Sum(item => item.GiaNhap > item.GiaBan ? Convert.ToDecimal((item.GiaNhap - item.GiaBan) * item.SoLuongDaBan) : 0);
                    @:-@Html.DisplayFor(modelItem => totalAllLoss)
                }
            </td>
        </tr>
    </tbody>
</table>
<form asp-controller="ThongKe" asp-action="ExportToExcel" method="post">
    <button type="submit" class="btn btn-primary">Export to Excel</button>
</form>