@model IEnumerable<Shop_Models.Dto.SanPhamChiTietDto>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center">Thống kê doanh thu</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Mã sản phẩm
            </th>
            <th>
                Giá Nhập
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Số lượng đã bán
            </th>
            <th>
                Tổng doanh thu
            </th>
        </tr>
    </thead>

    @{
        decimal totalGiaNhap = Convert.ToDecimal(Model.Sum(x => x.GiaNhap));
        decimal totalGiaBan = Convert.ToDecimal(Model.Sum(x => x.GiaBan));
        var totalSLDB = Model.Sum(x => x.SoLuongDaBan);
        decimal totalRevenue = 0;
    }

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongDaBan)
                </td>
                <td>
                    @{
                        decimal revenue = Convert.ToDecimal(item.GiaBan * item.SoLuongDaBan);
                        totalRevenue += revenue;
                        @Html.DisplayFor(modelItem => revenue)
                    }
                </td>
            </tr>
        }
        <tr>
            <td>Tổng: </td>
            <td>@totalGiaNhap</td>
            <td>@totalGiaBan</td>
            <td>@totalSLDB</td>
            <td>@totalRevenue</td>
        </tr>
    </tbody>
</table>