@model IEnumerable<Shop_Models.Dto.SanPhamChiTietDto>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center">Thống kê doanh thu</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Mã sản phẩm chi tiết
            </th>
            <th>
                Giá Nhập
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Số lượng đã bán
            </th>
            <th>
                Tổng doanh thu
            </th>

        </tr>
    </thead>

    @{
        decimal totalRevenue = 0;
        decimal totalGiaNhap = Convert.ToInt32(Model.Sum(x => x.GiaNhap));
        decimal totalGiaBan = Convert.ToInt32(Model.Sum(x => x.GiaBan));
        decimal totalGiaThucTe = Convert.ToInt32(Model.Sum(x => x.GiaThucTe));
        var totalSLT = Model.Sum(x => x.SoLuongTon);
        var totalSLDB = Model.Sum(x => x.SoLuongDaBan);
    }

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSanPhamChiTiet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongDaBan)
                </td>
                <td>
                    @{
                        decimal revenue = Convert.ToInt32(item.GiaBan * item.SoLuongDaBan);
                        totalRevenue += revenue;
                        @Html.DisplayFor(modelItem => revenue)
                    }
                </td>
            </tr>
        }
        <tr>
            <td>Tổng: </td>
            <td>@totalGiaNhap</td>
            <td>@totalGiaBan</td>
            <td>@totalSLDB</td>
            <td>@totalRevenue</td>

        </tr>
    </tbody>
</table>