@using Shop_Models.Dto;
@using Shop_Models.Entities;
@model IEnumerable<GioHangChiTietViewModel>
@{
    int stt = 0;
    double thanhTien = 0;
    double tongTien = 0;
    int soluongsanpham = 0;
    string username = ViewContext.HttpContext.Session.GetString("username");
}
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">

            @if (ViewBag.cartItem.Count == 0)
            {
                <div class="empty-cart-message">
                    <img width="64" height="64" src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/64/external-cart-essentials-icongeek26-linear-colour-icongeek26.png" />
                    <h3>Bạn chưa có sản phẩm nào trong giỏ hàng</h3>
                    <a href="/product" class="shop-now-button">Mua sắm ngay</a>
                </div>

            }
            else
            {
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sản Phẩm</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số Lượng Tồn</th>
                                <th scope="col">Số Lượng Mua</th>
                                <th scope="col">Tổng Tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.cartItem)
                            {
                                soluongsanpham = item.SoLuongBanSanPham;
                                thanhTien = item.GiaBan * item.SoLuong;
                                tongTien += thanhTien;
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="img/cart.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <p>@item.TenSanPhamChiTiet</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>$@item.GiaBan</h5>
                                    </td>
                                    <td>
                                        <h5>@item.SoLuongBanSanPham</h5>
                                    </td>
                                    <td>
                                        <div class="product_count">
                                            <input hidden id="codeproduct" type="text" value="@item.MaSPCT">
                                            <input hidden type="number" id="soLuongSPTon" name="soLuongSPTon" data-product-sl="@item.SoLuongBanSanPham" maxlength="3" value="@item.SoLuongBanSanPham" title="Quantity:" max="@item.SoLuongBanSanPham">
                                            <input type="text" name="qty" data-product-detail="@item.MaSPCT" data-cartdetail-id="@item.Id" maxlength="3" value="@item.SoLuong" title="Quantity:" class="input-text qty" max="@item.SoLuongBanSanPham" onblur="validateQuantity(this)">

                                            <button onclick="increaseQuantity(this);" id="increase" class="increase items-count" data-cartdetail-id="@item.Id" type="button">
                                                <i class="lnr lnr-chevron-up"></i>
                                            </button>
                                            <button onclick="decreaseQuantity(this);" class="reduced items-count" data-cartdetail-id="@item.Id" type="button">
                                                <i class="lnr lnr-chevron-down"></i>
                                            </button>


                                        </div>
                                    </td>
                                    <td id="totalPrice">
                                        <h5>@thanhTien</h5>
                                    </td>
                                    <td>
                                        <h5>
                                            <button onclick="DeleteCart(this);" class="delete items-count" data-cartdetail-id="@item.Id" type="button">
                                                Delete
                                            </button>
                                        </h5>
                                    </td>

                                </tr>
                            }

                            <tr>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" @* style="width:245px;height:40.03px" *@ href="#">Tiếp tục mua sắm</a>

                                    </div>
                                </td>
                            </tr>
                         

                        </tbody>
                    </table>
                </div>
                <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
                    <div class="card-body p-4">
                        <form asp-controller="Cart" asp-action="CreateBill">
                            <div class="row">
                                <div class="col-md-4 col-sm-4" style="border: solid 1px darkorchid;">
                                    <h3>Chọn phương thức thanh toán:</h3>
                                    <div>
                                     @*    <input type="radio" id="option1" name="options" value="1" onclick="displayText('Thanh toán tại cửa hàng'); setPaymentMethod(1); document.getElementById('MaPTTT').value = 'ThanhToanTaiCuaHang';">
                                        <label for="option1">Thanh toán tại cửa hàng</label><br /> *@

                                        <input type="radio" id="option2" name="options" onclick="displayText('Trả tiền mặt khi giao hàng');setPaymentMethod(2); document.getElementById('MaPTTT').value = 'ThanhToanKhiNhanHang';">
                                        <label for="option2">Thanh toán khi nhận hàng (COD)</label><br />

                                        <input type="radio" id="option3" name="options" onclick="displayText('Thực hiện thanh toán vào tài khoản ngân hàng của chúng tôi. Vui lòng sử dụng Mã đơn hàng của bạn trong phần Nội dung đơn đặt hàng thành công. Đơn hàng sẽ đươc giao sau khi tiền đã chuyển.Thông tin tài Khoản ngân hàng: – STK: 08489497321 – Chủ TK: Phạm Thùy Linh – Tại ngân hàng TCB chi nhánh Nam Từ Liêm'); setPaymentMethod(3); document.getElementById('MaPTTT').value = 'ChuyenKhoanNganHang';">
                                        <label for="option3">Thanh toán bằng chuyển khoản ngân hàng</label>

                                        <div id="result" style="background-color:aqua"></div>

                                        <input type="hidden" id="paymentMethod" name="PaymentMethod" value="">
                                        <input type="hidden" id="MaPTTT" name="MaPTTT" value="">

                                    </div>

                                </div>

                                <div class="col-md-4 col-sm-4" style="border: solid 1px darkorchid;">

                                    <div class="mb-3">
                                        <label class="form-label">Họ và tên</label>
                                        <input type="text" name="FullName" class="form-control" @* value="@fullname" *@ required>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Địa chỉ</label>
                                        <input type="text" name="Address" class="form-control" @* value="@address" *@ required>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Số điện thoại (Việt Nam)</label>
                                        <input type="text" name="PhoneNumber" id="phoneNumberInput" class="form-control" pattern="(0|\+84)?(3|5|7|8|9)[0-9]{8}" title="Số điện thoại phải là số và theo định dạng của Việt Nam" required>
                                        <div id="phoneNumberHint" style="color: #6c757d; font-size: 0.8em;">Ví dụ: 0912345678 hoặc +84912345678</div>
                                        <div id="phoneNumberError" style="color: red; display: none;">Số điện thoại không hợp lệ. Vui lòng nhập lại.</div>
                                    </div>

                               

                                </div>
                                <div class="col-md-4 col-sm-4" style="border: solid 1px darkorchid;">
                                    <div class="d-flex justify-content-between" style="font-weight: 500;">
                                        <p class="mb-2">Tổng tiền</p>
                                        <p class="mb-2">@tongTien</p>
                                    </div>

                                    <div class="d-flex justify-content-between" style="font-weight: 500;">
                                        <p class="mb-0">Phí ship</p>
                                        <p class="mb-0">0</p>
                                    </div>


                                    <input type="hidden" name="totalAmount" id="hiddenTotalAmount" value="@tongTien" />

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="voucherSelect">Chọn mã giảm giá</label>
                                        <select id="voucherSelect" name="CodeVoucher" class="form-select form-select-lg">
                                             <option value="null">Không có</option>
                                        @foreach (var i in ViewBag.listVoucher)
                                        {
                                        <option value="@i.MaVoucher">@i.MaVoucher</option>
                                        }
                                        </select>
                                    </div>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                                        <p class="mb-2">Thành tiền</p>
                                        <p class="mb-2" id="thanhtien">@tongTien</p>
                                    </div>
                                    <input type="number" name="Payment" id="Payment" class="form-control" value="@tongTien" hidden />
                                    <button class="btn primary-btn btn-block btn-lg" style="max-width:200px; border-radius:10px;" type="submit" onclick="validateForm(event)">
                                        <div class="d-flex justify-content-between">
                                            <span>Đặt hàng</span>
                                        </div>
                                    </button>

                                  
                                </div>
                            </div>
                        </form>                     
                    </div>
                </div>
            }



        </div>
    </div>
</section>
<!--================End Cart Area =================-->
<script>
    var phoneNumberInput = document.getElementById('phoneNumberInput');
    var phoneNumberError = document.getElementById('phoneNumberError');

    phoneNumberInput.addEventListener('blur', function () {
        if (!phoneNumberInput.checkValidity()) {
            phoneNumberError.style.display = 'block';
        } else {
            phoneNumberError.style.display = 'none';
        }
    });

</script>
